@charset "UTF-8";

body {
    background-image: url(pat.jpeg);
    font-family: roboto;
    color: black;
    font-size: 12px;
}

.rounded-pill {
	margin-top: 15px;
	margin-right: 10px;
}

input:focus, textarea:focus {
	outline: none;
}

.movieInfo {
    padding: 20px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    background-image: url(pat2.jpg);
}

.poster {
    border: 5px solid goldenrod;
}

.movieDesc {
    color: #DEDEB3
}
.coll{
    flex: auto;
    justify-content: space-around;
    padding: 3px;
}
.attr {
    font-weight: 200;
}

.border-dark {
    background-color: #ACACAC;
    border: 8px solid goldenrod;
}
.sect{
    
    width: auto;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
.wrapper{
    background-color: black;
    height: 5px;
}
.cardbody{
    background-color: #acacac;
}
.reviewCard {
    width:95%;
    margin: 20px;
    background-color: beige;
}
.form-row {
    padding-top: 5px;
    padding-bottom: 15px;
}
.form-cat {
    margin-left: 10px;
    margin-right: 10px;
}
.form-rat {
    height: 50px;
    background-color: #DFDFDF;
}
.form-rat:hover {
    background-color: #FFF9AC;
}
.form-rat:focus {
    height: 50px;
    background-color: #FFF9AC;
    border: 3px solid black;
}
#textReview:hover {
    background-color: #FFF9AC;
}
#textReview:focus {
    background-color: #FFF9AC;
    border: 3px solid black;
}
#submitRev:hover {
    border: 5px solid goldenrod;
}